#tech
  cursor: default
  position: relative
  width: 100%
  height: 200px
  font-family: $Title_Font
  font-size: 32px
  letter-spacing: 1px
  display: flex
  align-items: center
  justify-content: center
  

.techContainer
  position: relative
  height: 500px
  background-color: #cad1d2
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25)
  #techTextContainer
    position: absolute
    height: 100%
    width: 100%
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap
    .techItem
      text-align: center
      width: 20%
      height: 33%
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center
      box-sizing: border-box
      .tech-icon
        transition: 0.45s
        height: 80px
        width: 80px
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        filter: grayscale(100%)
      .tech-text
        cursor: default
        transition: 0.45s
        opacity: 0
        font-family: $Text_Font
        font-size: 14px
        letter-spacing: 1px
        margin: 0
        height: 0
      #JavaScript
        background-image: url('images/Logos/JS.png')
      #JQuery
        background-image: url('images/Logos/jQureryy.png')
      #HTML5
        background-image: url('images/Logos/HTML5.png')
      #CSS3
        background-image: url('images/Logos/CSS3.png')
      #SASS
        background-image: url('images/Logos/SASS.png')
      #Bootstrap
        background-image: url('images/Logos/Bootstrap.png')
      #Materialize
        background-image: url('images/Logos/Materialize.png')
      #Vuetify
        background-image: url('images/Logos/Vuetify.png')
      #Python
        background-image: url('images/Logos/Python.png')
      #GCP
        background-image: url('images/Logos/GCP.png')
      #Photoshop
        background-image: url('images/Logos/Photoshop.png')
      #ST
        background-image: url('images/Logos/SublimeText.png')
      #Atom
        background-image: url('images/Logos/Atom.png')
      #GitHub
        background-image: url('images/Logos/GitHub.png')
      #Bitbucket
        background-image: url('images/Logos/Bitbucket.png')

.techItem
  &:hover
    .tech-text
      height: 15px !important
      display: block !important
      opacity: 1 !important
      margin: 7px 0 0 0 !important
    .tech-icon
      filter: grayscale(0) !important