.section-blog {
  position: relative;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -100px;
  background: $GreySwag;
  background-blend-mode: normal, color-burn;

  @include defaultMobileSmall {
    margin-bottom: -50px;
  }
  &__container {
    max-width: 65rem;
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .blog-item {
      width: 100%;
      margin: 20px 0;
      cursor: default;
      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
      }
      &__header {
        position: relative;
        display: flex;
        align-items: center;
        cursor: default;
      }
      &__icon {
        height: 70px;
        width: 70px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
          0 2px 10px 0 rgba(0, 0, 0, 0.12);
        @include defaultMobileMini {
          height: 50px;
          width: 50px;
        }
      }
      &__description {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        &__title {
          font-weight: 400;
          font-size: 22px;
          letter-spacing: 1px;
        }
        &__readTime {
          font-style: italic;
        }
      }
    }
  }
}
