.section-blog {
  position: relative;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -100px;
  background: $GreySwag;
  background-blend-mode: normal, color-burn;

  @include defaultMobileSmall {
    margin-bottom: -50px;
  }
}
