.page-footer {
  margin-top: 100px;
  background-color: $DarkShades;

  @include defaultMobileSmall {
    margin-top: 50px;
  }

  .footer-copyright {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  a.btn,
  a.btn:focus {
    padding: 0 7px;
    text-transform: none;
    font-size: 12px;
    margin: 5px 0;
    width: 185px;
    background-color: $LightShades;
    color: $DarkShades;
    cursor: pointer;

    &:hover {
      background-color: $DarkAccent;
      color: $LightShades;
    }

    i {
      margin-right: 3px;
    }
  }

  @include defaultMobile {
    .connect,
    .thanks {
      text-align: center;
    }

    .footer-copyright {
      .container {
        text-align: center;
      }

      a {
        text-align: center;
        width: 100%;
      }
    }
  }
}
