.section-404 {
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $GreySwag;
  background-blend-mode: normal, color-burn;
  margin-bottom: -100px;
  h1 {
    font-size: 7rem;
  }
  &__message {
    margin: 35px 20px 0 20px;
  }
  &__message2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    button {
      margin: 20px 0 0 0;
    }
  }
}
