.section-success {
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $GreySwag;
  background-blend-mode: normal, color-burn;
  margin-bottom: -100px;
  &__message {
    text-align: center;
    margin: 0 20px 45px 20px;
    h5 {
      line-height: 150%;
    }
  }
}
