.section-projects
  position: relative
  width: 100%
  min-height: 510px
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: -100px
  background-color: $DarkAccent
  +defaultMobileSmall
    margin-bottom: -50px
  #particles-js
    height: 100%
    width: 100%


.collapsible
  margin: 2rem
  max-width: 65em
  width: 100%
  .collapsible-body
    background: $LightShades